In [10]:
import pandas as pd
import geopandas as gpd

In [7]:
df = pd.read_csv('/Users/hemingyi/Dropbox/New_York_SVI/LineContainsPoints.csv')
psp = pd.read_csv('/Users/hemingyi/Dropbox/New_York_SVI/pspnet_result.csv')
street = gpd.read_file('/Users/hemingyi/Dropbox/New_York_SVI/Output/anglecalculation.shp')

In [4]:
df.head()

,Unnamed: 0,index,start stat,end statio,count,avg_durati,ori_lat,ori_lng,des_lat,des_lng,estimate,route_leng,route_line,geometry,points
0,0,0,72,150,8,1914.375000,40.767272,-73.993929,40.720874,-73.980858,29 mins,0.076317,LINESTRING (40.76722999744658 -73.993960062862...,POLYGON ((40.72106897534217 -73.97983204318129...,"[12, 139, 148, 150, 215, 219, 278, 305, 509, 5..."
1,1,1,72,164,15,1116.866667,40.767272,-73.993929,40.753231,-73.970325,14 mins,0.032730,LINESTRING (40.76722999744658 -73.993960062862...,POLYGON ((40.75335005232059 -73.97133752548842...,"[142, 144, 396, 577, 967, 1041, 1145, 1216, 12..."
2,2,2,72,167,13,1218.692308,40.767272,-73.993929,40.748901,-73.976049,17 mins,0.041114,LINESTRING (40.76722999744658 -73.993960062862...,POLYGON ((40.75319390427793 -73.97096779563067...,"[22, 60, 142, 144, 396, 577, 592, 692, 967, 10..."
3,3,3,72,168,85,1182.764706,40.767272,-73.993929,40.739713,-73.994564,17 mins,0.042535,LINESTRING (40.76722999744658 -73.993960062862...,POLYGON ((40.74390443592313 -74.00203288384284...,"[219, 358, 455, 562, 644, 812, 844, 879, 905, ..."
4,4,4,72,173,401,534.299252,40.767272,-73.993929,40.760683,-73.984527,6 mins,0.014035,LINESTRING (40.76722999744658 -73.993960062862...,POLYGON ((40.76226264194185 -73.98474065667354...,"[142, 144, 967, 1041, 1409, 1414, 1554, 1796, ..."

In [6]:
psp.head()

,FID,wall,building,tree,road,sidewalk,car,fence,railing,signboard,...,water,column,sculpture,mountain,lamp,booth,windowpane,pier,bulletin board,fountain
0,206,0.000889,0.421783,0.140350,0.148233,0.004067,0.126672,0.011994,0.14205,0.001544,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,24,NaN,0.524206,0.000078,0.135761,0.020561,0.257394,0.000017,NaN,0.007139,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,242,0.003472,0.556383,0.045817,0.111483,0.142611,0.076306,NaN,NaN,0.000178,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2420,NaN,0.522211,NaN,0.266878,0.024100,0.129417,NaN,NaN,0.005094,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2422,NaN,0.441211,0.016428,0.195300,0.073772,0.146456,NaN,NaN,0.001572,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
street.head()

,Unnamed: 0,bike_lane,geometry,angle,mid_lng,mid_lat
0,1,NaN,LINESTRING (-73.9626945760758 40.7607460524364...,113.741172,-73.962108,40.760488
1,2,NaN,LINESTRING (-73.98391366493104 40.711303332442...,85.733673,-73.983764,40.711314
2,4,NaN,LINESTRING (-73.94778083851676 40.830263780459...,36.082047,-73.947553,40.830576
3,5,NaN,LINESTRING (-73.93547108195284 40.849144383074...,36.021276,-73.935218,40.849492
4,6,NaN,LINESTRING (-73.93419101755205 40.814089650452...,85.809912,-73.934130,40.814094

In [12]:
street.iloc[1]['geometry'].length

0.00029987419987858547

In [15]:
goo = pd.read_csv('/Users/hemingyi/Dropbox/New_York_SVI/trip_integrated_decode.csv')
goo.head()

,Unnamed: 0,Unnamed: 0.1,start station id,end station id,count,avg_duration,ori_lat,ori_lng,des_lat,des_lng,line,estimate,polyline
0,0,0,72,150,8,1914.375000,40.767272,-73.993929,40.720874,-73.980858,ejywFf}rbM`GgRnFwPxBzAzFtDzB~A~BtA|BxAvJrG|F|D...,29 mins,"[(40.76723, -73.99396), (40.76594, -73.99088),..."
1,1,1,72,164,15,1116.866667,40.767272,-73.993929,40.753231,-73.970325,ejywFf}rbMd[}aAzDxBbEbCv@XlAj@ZcAjE}M`GiRj@eB^...,14 mins,"[(40.76723, -73.99396), (40.76272, -73.98325),..."
2,2,2,72,167,13,1218.692308,40.767272,-73.993929,40.748901,-73.976049,ejywFf}rbMd[}aAzDxBbEbCv@XlAj@ZcAjE}M`GiRj@eB^...,17 mins,"[(40.76723, -73.99396), (40.76272, -73.98325),..."
3,3,3,72,168,85,1182.764706,40.767272,-73.993929,40.739713,-73.994564,ejywFf}rbM`GgRnFwPxBzAzFtDzB~A~BtA|BxAvJrG|F|D...,17 mins,"[(40.76723, -73.99396), (40.76594, -73.99088),..."
4,4,4,72,173,401,534.299252,40.767272,-73.993929,40.760683,-73.984527,ejywFf}rbMd[}aAzDxBbEbCRH,6 mins,"[(40.76723, -73.99396), (40.76272, -73.98325),..."

In [83]:
psp = pd.read_csv('/Users/hemingyi/Dropbox/New_York_SVI/pspnet_result.csv')

In [84]:
psp.head()

,FID,wall,building,tree,road,sidewalk,car,fence,railing,signboard,...,water,column,sculpture,mountain,lamp,booth,windowpane,pier,bulletin board,fountain
0,206,0.000889,0.421783,0.140350,0.148233,0.004067,0.126672,0.011994,0.14205,0.001544,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,24,NaN,0.524206,0.000078,0.135761,0.020561,0.257394,0.000017,NaN,0.007139,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,242,0.003472,0.556383,0.045817,0.111483,0.142611,0.076306,NaN,NaN,0.000178,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2420,NaN,0.522211,NaN,0.266878,0.024100,0.129417,NaN,NaN,0.005094,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2422,NaN,0.441211,0.016428,0.195300,0.073772,0.146456,NaN,NaN,0.001572,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [85]:
psp2 = pd.read_csv('/Users/hemingyi/Dropbox/New_York_SVI/pspnet.csv')
del psp2['Unnamed: 0']
psp2['FID'] = psp2['FID'].astype('int')
psp['FID'] = psp['FID'].astype('int')
psp2.head()

,FID,building,sky,tree,road,sidewalk,car,fence,signboard,streetlight,...,skyscraper,mountain,column,booth,windowpane,sofa,sculpture,lamp,fountain,bulletin board
0,1,0.471450,0.045572,0.010222,0.176650,0.087639,0.152433,0.038139,0.003494,0.004039,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,10,0.350461,0.036861,0.205656,0.174567,0.070383,0.122667,0.000000,0.000433,0.000228,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,10002,0.251783,0.043856,0.269072,0.160461,0.010422,0.195867,0.068539,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,10003,0.484578,0.020206,0.000000,0.235272,0.005461,0.225489,0.000000,0.007556,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,10005,0.625400,0.017822,0.002733,0.179583,0.134906,0.001711,0.016461,0.004172,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [86]:
cols = psp.columns
psp2 = psp2[cols]

In [87]:
psp2.head()

,FID,wall,building,tree,road,sidewalk,car,fence,railing,signboard,...,water,column,sculpture,mountain,lamp,booth,windowpane,pier,bulletin board,fountain
0,1,0.000000,0.471450,0.010222,0.176650,0.087639,0.152433,0.038139,0.0,0.003494,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,10,0.000000,0.350461,0.205656,0.174567,0.070383,0.122667,0.000000,0.0,0.000433,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,10002,0.000000,0.251783,0.269072,0.160461,0.010422,0.195867,0.068539,0.0,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,10003,0.000000,0.484578,0.000000,0.235272,0.005461,0.225489,0.000000,0.0,0.007556,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,10005,0.002183,0.625400,0.002733,0.179583,0.134906,0.001711,0.016461,0.0,0.004172,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [88]:
df = pd.concat([psp, psp2])

In [89]:
psp.head()

,FID,wall,building,tree,road,sidewalk,car,fence,railing,signboard,...,water,column,sculpture,mountain,lamp,booth,windowpane,pier,bulletin board,fountain
0,206,0.000889,0.421783,0.140350,0.148233,0.004067,0.126672,0.011994,0.14205,0.001544,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,24,NaN,0.524206,0.000078,0.135761,0.020561,0.257394,0.000017,NaN,0.007139,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,242,0.003472,0.556383,0.045817,0.111483,0.142611,0.076306,NaN,NaN,0.000178,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2420,NaN,0.522211,NaN,0.266878,0.024100,0.129417,NaN,NaN,0.005094,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2422,NaN,0.441211,0.016428,0.195300,0.073772,0.146456,NaN,NaN,0.001572,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [90]:
df = df.drop_duplicates()

In [91]:
len(df)

5936

In [94]:
df.columns

Index(['FID', 'wall', 'building', 'tree', 'road', 'sidewalk', 'car', 'fence',
       'railing', 'signboard', 'sky', 'person', 'skyscraper', 'van', 'awning',
       'streetlight', 'ashcan', 'ceiling', 'chair', 'bicycle', 'grass',
       'earth', 'bridge', 'minibike', 'plant', 'water', 'column', 'sculpture',
       'mountain', 'lamp', 'booth', 'windowpane', 'pier', 'bulletin board',
       'fountain'],
      dtype='object')

In [92]:
df.to_csv('/Users/hemingyi/Dropbox/New_York_SVI/pspnet_concat.csv')

In [96]:
df = df.drop(columns=['lamp'])

In [98]:
psp_1209 = pd.read_csv('/Users/hemingyi/Dropbox/New_York_SVI/pspnet_1209.csv')
psp_1209 = psp_1209[df.columns]
df = pd.concat([df, psp_1209])
df = df.drop_duplicates()

In [99]:
df.to_csv('/Users/hemingyi/Dropbox/New_York_SVI/pspnet_all.csv')